.home-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.navbar {
  background-color: #ffcccc; /* Light pink background */
  width: 100%; /* Take full width of the container */
  padding: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333; /* Dark text color */
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff1493; /* Deep pink text color on hover */
}

body{
  background-color: pink;
}